---
import GitHub from "@/icons/GitHub.astro"
import Section from "../Section.astro"
import { projects } from "@cv"
---

<Section title="Proyectos">
  <ul>
    {
      projects.map(({ name, year, description, stack, url, github, isActive }) => {
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>
                    {name}
                    {isActive && <span class="active-dot"> ●</span>}
                  </h3>
                  <p>{description}</p>
                  <p class="stack"><strong>Stack:</strong> {stack}</p>
                </div>

              
              </header>

              <footer>
                <a href={url} target="_blank" rel="noopener noreferrer">
                  Ver proyecto
                </a>

                {github && (
                  <a
                    href={github}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="github"
                  >
                    <GitHub />
                  </a>
                )}
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
    margin: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6px;
  }

  header p {
    margin: 4px 0;
    font-size: 0.85rem;
  }

  .stack {
    font-size: 0.8rem;
    color: #444;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 60px;
  }

  .highlights {
    margin: 8px 0 12px 18px;
    font-size: 0.85rem;
  }

  .highlights li {
    margin-bottom: 4px;
  }

  footer {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  footer a {
    color: #0073e6;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.85rem;
  }

  footer a:hover {
    text-decoration: underline;
  }

  .github {
    display: flex;
    align-items: center;
  }

  .active-dot {
    color: rgb(0, 188, 47);
    font-size: 0.8rem;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>